<div class="detail">
  <h3 class="page-heading">Resource Management</h3>
  <mat-card>
    <div class="attribute-grid">
      <p class="label">Name</p>
      <p class="value">{{ instance.name }}</p>
      <p class="label">Allocated Teachers</p>
      <p class="value">{{ getAllocatedTeachers() }}</p>
      <p class="label">Utilization Rate</p>
      <p class="value">{{ instance.utilization_rate }}</p>
    </div>
    <mat-card-actions align="start">
      <button mat-raised-button color="warn" (click)="del()">Delete Resource</button>
      <a mat-raised-button color="primary" [routerLink]="['/resource-management', instance.id, 'edit']">Edit Resource Management</a>
    </mat-card-actions>
  </mat-card>
</div>
