<div class="editor">
  <h3 class="page-heading">{{ instance ? 'Edit ' : '' }}Student Progress</h3>
  <mat-divider></mat-divider>
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select formControlName="subject_class" [compareWith]="compareSelectObjects">
        <ng-template ngFor let-sc [ngForOf]="subjectClasses">
          <mat-option [value]="sc">{{ sc.subject.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>yyyy-mm-dd</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Average Score</mat-label>
      <input matInput formControlName="average_score" type="number" min="0" max="100" step="0.01">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Homework Completion Rate</mat-label>
      <input matInput formControlName="homework_completion_rate" type="number" min="0" max="100" step="0.01">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Attendance Rate</mat-label>
      <input matInput formControlName="attendance_rate" type="number" min="0" max="100" step="0.01">
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>
