.editor {
  padding: 1rem;
  h3.page-heading {
    font-size: 18px;
    font-weight: 300;
    margin: 0rem 0rem 1rem 0rem;
  }
}

.form {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  .actions {
    display: flex;
    gap: 1rem;
  }
}