<div class="editor">
  <h3 class="page-heading">{{ instance ? 'Edit ' : '' }}Class</h3>
  <mat-divider></mat-divider>
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <mat-select formControlName="subject" [compareWith]="compareSelectObjects">
        <ng-template ngFor let-subject [ngForOf]="subjects">
          <mat-option [value]="subject">{{ subject.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teacher</mat-label>
      <mat-select formControlName="teacher" [compareWith]="compareSelectObjects">
        <ng-template ngFor let-teacher [ngForOf]="teachers">
          <mat-option [value]="teacher">{{ teacher.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>