<div class="list">
  <h3>Classes</h3>
  <mat-divider></mat-divider>
  <a [style.margin-top]="'1rem'" mat-raised-button color="primary" routerLink="/classes/new">Add Class</a>
  <mat-nav-list>
    <ng-template ngFor let-sc [ngForOf]="classes">
      <mat-list-item [routerLink]="['/classes', sc.id]">
        <a matListItemTitle href="/classes/{{ sc.id }}">{{ sc.subject.name }}</a>
        <span matListItemLine>
          Teacher: <b>{{ sc.teacher?.name || 'No teacher assigned.' }}</b>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </mat-nav-list>
</div>
