<div class="list">
  <h3>Teachers</h3>
  <mat-form-field appearance="outline">
    <mat-label>Search Teachers</mat-label>
    <input [formControl]="query" matInput>
  </mat-form-field>
  <a mat-raised-button color="primary" routerLink="/teachers/new">Add Teacher</a>
  <mat-nav-list>
    <ng-template ngFor let-teacher [ngForOf]="teachers">
      <mat-list-item [routerLink]="['/teachers', teacher.id]">
        <a matListItemTitle href="/teachers/{{ teacher.id }}">{{ teacher.name }}</a>
        <img matListItemAvatar [src]="teacher.avatar" *ngIf="teacher.avatar !== null">
        <div matListItemAvatar class="missing-avatar" *ngIf="teacher.avatar === null">{{ teacher.name[0] }}</div>
        <p matListItemLine>
          <ng-template [ngIf]="teacher.classes.length">
            Current Classes: {{ teacher.classes|join:', ' }}
          </ng-template>
          <ng-template [ngIf]="!teacher.classes.length">
            No classes assigned.
          </ng-template>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </mat-nav-list>
</div>