.list {
  padding: 1rem;
  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0rem 0rem 1rem 0rem;
  }
  mat-form-field {
    width: 100%;
  }
  .missing-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--mat-divider-color);
  }
}