.list {
  padding: 1rem;
  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0rem 0rem 1rem 0rem;
  }
  .filters {
    display: flex;
    gap: 1rem;
  }
  mat-form-field {
    flex-grow: 1;
  }
}