<div class="list">
  <h3>Student Progress</h3>
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Filter by Subject</mat-label>
      <mat-select [formControl]="subjectFilter" [compareWith]="compareFilterObjects" (selectionChange)="runFilters()">
        <mat-option [value]="''">--------</mat-option>
        <ng-template ngFor let-subject [ngForOf]="subjects">
          <mat-option [value]="subject.id">{{ subject.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Filter by Teacher</mat-label>
      <mat-select [formControl]="teacherFilter" [compareWith]="compareFilterObjects" (selectionChange)="runFilters()">
        <mat-option [value]="''">--------</mat-option>
        <ng-template ngFor let-teacher [ngForOf]="teachers">
          <mat-option [value]="teacher.id">{{ teacher.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
  </div>
  <a mat-raised-button color="primary" routerLink="/student-progress/new">Add Student Progress</a>
  <mat-nav-list>
    <ng-template ngFor let-sp [ngForOf]="studentProgress">
      <mat-list-item [routerLink]="['/student-progress', sp.id]">
        <a matListItemTitle href="/student-progress/{{ sp.id }}">{{ sp.description }}</a>
        <p matListItemLine>
          Average Score / Homework Completion / Attendance: <b>{{ sp.average_score }}% / {{ sp.homework_completion_rate }}% / {{ sp.attendance_rate }}%</b>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </mat-nav-list>
</div>
