<h1 mat-dialog-title>{{ instance ? 'Edit ' : '' }}Coach Details</h1>
<div class="form" mat-dialog-content [formGroup]="form">
  <div class="avatar-wrapper">
    <img class="avatar" [src]="avatarSrc" *ngIf="avatarSrc !== null">
    <div class="missing-avatar" *ngIf="avatarSrc === null">Empty</div>
    <button mat-stroked-button color="primary" (click)="chooseAvatarFile()">Change Avatar</button>
    <button mat-stroked-button color="accent" (click)="removeAvatar()" *ngIf="avatarSrc">Remove</button>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Specialization</mat-label>
    <input matInput formControlName="specialization" type="text">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Years of Experience</mat-label>
    <input matInput formControlName="years_of_experience" type="number" min="0" step="1">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" matDialogClose>Cancel</button>
  <button mat-button color="primary" (click)="submit()">Submit</button>
</div>