.form {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  .avatar {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 32px;
  }
  .missing-avatar {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--mat-divider-color);
  }
}