.detail {
  padding: 1rem;
  h3.page-heading {
    font-size: 18px;
    font-weight: 300;
    margin: 0rem 0rem 1rem 0rem;
  }
  h3.section-heading {
    font-size: 18px;
    font-weight: 300;
    margin: 1rem 0rem 0rem 0rem;
  }
  .attribute-grid {
    padding: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    .label {
      margin: 0;
      font-weight: 500;
    }
    .value {
      margin: 0;
      font-weight: 400;
      &.notes {
        white-space: pre-wrap;
      }
    }
  }
  mat-card-actions {
    gap: 1rem;
  }
}