<div class="detail">
  <h3 class="page-heading">Coach Teacher Interaction</h3>
  <mat-card>
    <div class="attribute-grid">
      <p class="label">Coach</p>
      <p class="value">{{ instance.coach.name }}</p>
      <p class="label">Teacher</p>
      <p class="value">{{ instance.teacher.name }}</p>
      <p class="label">Meeting Date</p>
      <p class="value">{{ instance.meeting_date }}</p>
      <p class="label">Meeting Notes</p>
      <p class="value notes">{{ instance.meeting_notes }}</p>
    </div>
    <mat-card-actions align="start">
      <button mat-raised-button color="warn" (click)="del()">Delete Interaction</button>
      <a mat-raised-button color="primary" [routerLink]="['/coaching', instance.id, 'edit']">Edit Interaction</a>
    </mat-card-actions>
  </mat-card>
</div>
