<div class="detail">
  <h3 class="page-heading">Teacher Details</h3>
  <mat-card>
    <div class="attribute-grid">
      <p class="label">Avatar:</p>
      <img class="avatar" [src]="instance.avatar" *ngIf="instance.avatar !== null">
      <div class="missing-avatar" *ngIf="instance.avatar === null">Empty</div>
      <p class="label">Name</p>
      <p class="value">{{ instance.name }}</p>
      <p class="label">Date of Birth</p>
      <p class="value">{{ instance.date_of_birth }}</p>
      <p class="label">Notes</p>
      <p class="value notes">{{ instance.notes || '---' }}</p>
    </div>
    <mat-card-actions align="start">
      <button mat-raised-button color="warn" (click)="del()">Delete Teacher</button>
      <a mat-raised-button color="primary" [routerLink]="['/teachers', instance.id, 'edit']">Edit Teacher Details</a>
    </mat-card-actions>
  </mat-card>
  <h3 class="section-heading">Teacher Activity</h3>
  <mat-card>
    <mat-list>
      <ng-template ngFor let-aa [ngForOf]="instance.assessments">
        <mat-list-item matRipple (click)="openActivityDetail(aa)">
          <h3 matListItemTitle>{{ aa.date }}</h3>
          <span matListItemLine>Subjects Taught: {{ getSubjectsTaughtDisplay(aa) }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-list>
    <mat-card-actions align="start">
      <button mat-raised-button color="primary" (click)="openActivityForm()">Add Activity</button>
    </mat-card-actions>
  </mat-card>
</div>
