<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="sideNavOpen = !sideNavOpen">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="theme-picker">
    <mat-icon>light_mode</mat-icon>
    <mat-slide-toggle [hideIcon]="true" (change)="switchTheme($event)"></mat-slide-toggle>
    <mat-icon>dark_mode</mat-icon>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="sideNavMode" [(opened)]="sideNavOpen" [autoFocus]="false">
    <div class="nav-link-list" [ngClass]="theme.mode">
      <a class="nav-link mat-elevation-z2" routerLink="/" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">analytics</mat-icon>
        <p>Overview</p>
      </a>
      <a class="nav-link mat-elevation-z2" routerLink="/teachers" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">person</mat-icon>
        <p>Teachers</p>
      </a>
      <a class="nav-link mat-elevation-z2" routerLink="/student-progress" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">lightbulb</mat-icon>
        <p>Student<br>Progress</p>
      </a>
      <a class="nav-link mat-elevation-z2" routerLink="/resource-management" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">psychology</mat-icon>
        <p>Resource<br>Management</p>
      </a>
      <a class="nav-link mat-elevation-z2" routerLink="/coaching" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">sports</mat-icon>
        <p>Coaching</p>
      </a>
      <a class="nav-link mat-elevation-z2" routerLink="/classes" matRipple>
        <mat-icon color="primary" class="material-icons-outlined">school</mat-icon>
        <p>Classes</p>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="width-limiter">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>