@use '@angular/material' as mat;

mat-toolbar {
  position: relative;
  z-index: 10;
  justify-content: space-between;
  .theme-picker {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  @media (max-width: 599px) {
    top: 56px;
  }
}

mat-sidenav {
  @include mat.elevation(6);
}

.nav-link-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  .nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 6.5rem;
    min-height: 6.5rem;
    box-sizing: border-box;
    border-radius: 16px;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
    mat-icon {
      font-size: 36px;
      height: 36px;
      width: 36px;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      text-align: center;
    }
    &:hover {
      background-color: var(--primary-color-015);
    }
    @media (max-height: 768px) {
      min-width: 6rem;
      min-height: 6rem;
      mat-icon {
        font-size: 32px;
        height: 32px;
        width: 32px;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}

.width-limiter {
  max-width: 1400px;
}