<div class="editor">
  <h3 class="page-heading">{{ instance ? 'Edit ' : '' }}Coach Teacher Interaction</h3>
  <mat-divider></mat-divider>
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Coach</mat-label>
      <mat-select formControlName="coach" [compareWith]="compareSelectObjects">
        <ng-template ngFor let-coach [ngForOf]="coaches">
          <mat-option [value]="coach">{{ coach.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Teacher</mat-label>
      <mat-select formControlName="teacher" [compareWith]="compareSelectObjects">
        <ng-template ngFor let-teacher [ngForOf]="teachers">
          <mat-option [value]="teacher">{{ teacher.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Meeting Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="meeting_date">
      <mat-hint>yyyy-mm-dd</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Meeting Notes</mat-label>
      <textarea matInput formControlName="meeting_notes"></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>