<div class="editor">
  <h3 class="page-heading">{{ instance ? 'Edit ' : '' }}Teacher Details</h3>
  <mat-divider></mat-divider>
  <div class="form" [formGroup]="form">
    <div class="avatar-wrapper">
      <img class="avatar" [src]="avatarSrc" *ngIf="avatarSrc !== null">
      <div class="missing-avatar" *ngIf="avatarSrc === null">Empty</div>
      <button mat-stroked-button color="primary" (click)="chooseAvatarFile()">Change Avatar</button>
      <button mat-stroked-button color="accent" (click)="removeAvatar()" *ngIf="avatarSrc">Remove</button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
      <mat-hint>yyyy-mm-dd</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes"></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>
