<div class="list">
  <h3>Resource Management</h3>
  <mat-divider></mat-divider>
  <a [style.margin-top]="'1rem'" mat-raised-button color="primary" routerLink="/resource-management/new">Add Resource</a>
  <mat-nav-list>
    <ng-template ngFor let-rm [ngForOf]="resourceManagementList">
      <mat-list-item [routerLink]="['/resource-management', rm.id]">
        <a matListItemTitle href="/resource-management/{{ rm.id }}">{{ rm.name }}</a>
        <span matListItemLine>
          Utilization Rate: <b>{{ rm.utilization_rate }}%</b>
        </span>
        <span matListItemLine>
          Allocated Teachers: {{ getAllocatedTeachers(rm) }}
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </mat-nav-list>
</div>
