<div class="detail">
  <h3 class="page-heading">Class</h3>
  <mat-card>
    <div class="attribute-grid">
      <p class="label">Subject</p>
      <p class="value">{{ instance.subject.name }}</p>
      <p class="label">Teacher</p>
      <p class="value">{{ instance.teacher?.name || 'No teacher assigned.' }}</p>
      <p class="label">Notes</p>
      <p class="value notes">{{ instance.notes || '---' }}</p>
    </div>
    <mat-card-actions align="start">
      <button mat-raised-button color="warn" (click)="del()">Delete Class</button>
      <a mat-raised-button color="primary" [routerLink]="['/classes', instance.id, 'edit']">Edit Class</a>
    </mat-card-actions>
  </mat-card>
</div>
