.attribute-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  .label {
    margin: 0;
    font-weight: 500;
  }
  .value {
    margin: 0;
    font-weight: 400;
    &.notes {
      white-space: pre-wrap;
    }
  }
}