<h1 mat-dialog-title>Teacher Activity</h1>
<div mat-dialog-content>
  <div class="attribute-grid">
    <p class="label">Date:</p>
    <p class="value">{{ instance.date }}</p>
    <p class="label">Score:</p>
    <p class="value">{{ instance.score }}</p>
    <p class="label">Student Interaction Rating:</p>
    <p class="value">{{ instance.student_interaction_rating }}</p>
    <p class="label">Subjects Taught:</p>
    <p class="value">{{ getSubjectsTaughtDisplay(instance) }}</p>
    <p class="label">Notes</p>
    <p class="value notes">{{ instance.notes }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="del.emit()">Delete Activity</button>
  <button mat-button color="primary" (click)="edit.emit()">Edit Activity</button>
  <button mat-button matDialogClose>Done</button>
</div>