<h1 mat-dialog-title>Coach Details</h1>
<div mat-dialog-content>
  <div class="attribute-grid">
    <p class="label">Avatar:</p>
    <img class="avatar" [src]="instance.avatar" *ngIf="instance.avatar !== null">
    <div class="missing-avatar" *ngIf="instance.avatar === null">Empty</div>
    <p class="label">Name:</p>
    <p class="value">{{ instance.name }}</p>
    <p class="label">Specialization:</p>
    <p class="value">{{ instance.specialization }}</p>
    <p class="label">Years of Experience:</p>
    <p class="value">{{ instance.years_of_experience }}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="del.emit()">Delete Coach</button>
  <button mat-button color="primary" (click)="edit.emit()">Edit Coach</button>
  <button mat-button matDialogClose>Done</button>
</div>