.attribute-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  .label {
    margin: 0;
    font-weight: 500;
  }
  .value {
    margin: 0;
    font-weight: 400;
  }
}
.avatar {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 32px;
}
.missing-avatar {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--mat-divider-color);
}