<div class="detail">
  <h3 class="page-heading">Student Progress</h3>
  <mat-card>
    <div class="attribute-grid">
      <p class="label">Class</p>
      <p class="value">{{ instance.subject_class.repr }}</p>
      <p class="label">Description</p>
      <p class="value">{{ instance.description }}</p>
      <p class="label">Date</p>
      <p class="value">{{ instance.date }}</p>
      <p class="label">Average Score</p>
      <p class="value">{{ instance.average_score }}%</p>
      <p class="label">Homework Completion Rate</p>
      <p class="value">{{ instance.homework_completion_rate }}%</p>
      <p class="label">Attendance Rate</p>
      <p class="value">{{ instance.attendance_rate }}%</p>
      <p class="label">Notes</p>
      <p class="value notes">{{ instance.notes || '---' }}</p>
    </div>
    <mat-card-actions align="start">
      <button mat-raised-button color="warn" (click)="del()">Delete Student Progress</button>
      <a mat-raised-button color="primary" [routerLink]="['/student-progress', instance.id, 'edit']">Edit Student Progress</a>
    </mat-card-actions>
  </mat-card>
</div>
