<h1 mat-dialog-title>{{ instance ? 'Edit ' : '' }}Teacher Activity</h1>
<div class="form" mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>yyyy-mm-dd</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Score</mat-label>
    <input matInput formControlName="score" type="number" min="0" max="100" step="0.01">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Student Interaction Rating</mat-label>
    <input matInput formControlName="student_interaction_rating" type="number" min="0" max="5" step="0.1">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Subjects Taught</mat-label>
    <mat-select formControlName="subjects_taught" multiple [compareWith]="compareSelectObjects">
      <ng-template ngFor let-subject [ngForOf]="subjects">
        <mat-option [value]="subject">{{ subject.name }}</mat-option>
      </ng-template>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" matDialogClose>Cancel</button>
  <button mat-button color="primary" (click)="submit()">Submit</button>
</div>