<div class="editor">
  <h3 class="page-heading">{{ instance ? 'Edit ' : '' }}Resource Management</h3>
  <mat-divider></mat-divider>
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Allocated Teachers</mat-label>
      <mat-select formControlName="allocated_teachers" multiple [compareWith]="compareSelectObjects">
        <ng-template ngFor let-teacher [ngForOf]="teachers">
          <mat-option [value]="teacher">{{ teacher.name }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Utilization Rate</mat-label>
      <input matInput formControlName="utilization_rate" type="number" min="0" max="100" step="0.01">
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
  </div>
</div>