@use '@angular/material' as mat;
@use 'sass:color' as color;

@include mat.core();

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
  // Only include `typography` and `density` in the default light theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
));

// Apply the light theme by default
@include mat.all-component-themes($light-theme);
// @include mat.core-theme($dark-theme);
// @include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.core-color($light-theme);
//  @include mat.button-color($light-theme);
// }

[data-theme="light"] {
  --primary-color: #{mat.get-theme-color($light-theme, primary, 500)};
  --primary-color-015: #{color.change($color: mat.get-theme-color($light-theme, primary, 500), $alpha: 0.15)};
  --bg-color: #fafafa;
}

[data-theme="dark"] {
  @include mat.all-component-colors($dark-theme);
  --primary-color: #{mat.get-theme-color($dark-theme, primary, 500)};
  --primary-color-015: #{color.change($color: mat.get-theme-color($dark-theme, primary, 500), $alpha: 0.15)};
  --bg-color: #303030;
  // @include mat.core-color($light-theme);
  // @include mat.button-color($light-theme);
}