.coaching {
  padding: 1rem;
  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 1rem 0rem 0rem 0rem;
  }
  .coaches {
    display: flex;
    gap: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    border: 1px solid var(--mat-divider-color);
    overflow-x: auto;
    .coach {
      cursor: pointer;
      height: 125px;
      width: 125px;
      padding: 1rem;
      border: 1px solid var(--primary-color);
      border-radius: 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      .coach-avatar {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 32px;
      }
      .missing-avatar {
        height: 64px;
        width: 64px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        background-color: var(--mat-divider-color);
      }
      .coach-label {
        margin: 0;
        font-size: 0.875rem;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      mat-icon {
        height: 64px;
        width: 64px;
        font-size: 64px;
      }
    }
  }
}