<div class="coaching">
  <h3>Coaches</h3>
  <div class="coaches">
    <ng-template ngFor let-coach [ngForOf]="coaches">
      <div class="coach" matRipple (click)="openCoachDetail(coach)">
        <img class="coach-avatar" [src]="coach.avatar" *ngIf="coach.avatar !== null">
        <div class="missing-avatar" *ngIf="coach.avatar === null">{{ coach.name[0] }}</div>
        <p class="coach-label">{{ coach.name }}</p>
      </div>
    </ng-template>
    <div class="coach" matRipple (click)="openCoachForm()">
      <mat-icon color="primary">add</mat-icon>
    </div>
  </div>
  <h3>Coach-Teacher Interactions</h3>
  <a [style.margin-top]="'1rem'" mat-raised-button color="primary" routerLink="/coaching/new">Add Interaction</a>
  <mat-nav-list>
    <ng-template ngFor let-interaction [ngForOf]="interactions">
      <mat-list-item [routerLink]="['/coaching', interaction.id]">
        <a matListItemTitle href="/coaching/{{ interaction.id }}">{{ interaction.coach.name }} / {{ interaction.teacher.name }}</a>
        <p matListItemLine>Date: <b>{{ interaction.meeting_date }}</b></p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
  </mat-nav-list>
</div>
