.container {
  padding: 1rem;
  box-sizing: border-box;
  .overview-section-heading {
    font-size: 18px;
    font-weight: 300;
    margin: 1rem 0rem 0.5rem 0rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .teacher-activities {
    display: flex;
    gap: 1rem;
    .teacher-activity-avatar:not(.empty) {
      background-image: var(--backgroundImage);
      background-size: cover;
    }
    .teacher-activity-avatar.empty {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
      background-color: var(--mat-divider-color);
    }
    mat-card {
      max-width: 400px;
    }
    .activity-data {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      align-items: center;
      span {
        font-size: 0.875rem;
      }
    }
  }
  .side-by-side {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    .student-progress, .resource-management {
      // flex-grow: 1;
      mat-card {
        min-height: 332px;
        max-height: 332px;
        mat-card-content {
          max-height: 300px;
        }
      }
    }
    .student-progress-list {
      display: grid;
      grid-template-columns: 34% 22% 22% 22%;
      align-items: center;
      background-color: var(--primary-color-015);
      max-height: 300px;
      overflow-y: auto;
      .progress-heading, .subject {
        margin: 0;
        padding: 1rem;
        font-size: 0.875rem;
        font-weight: 300;
        text-align: center;
      }
      .value {
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        background-color: var(--primary-color-015);
      }
    }
  }
  .no-pointer-events {
    pointer-events: none;
  }
  .teacher-coach-interactions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    p {
      margin: 0;
      padding: 1rem 0rem;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.bb {
        border-bottom: 1px solid var(--primary-color-015);
      }
    }
  }
}
