<div class="container">
  <h4 class="overview-section-heading">Recent Teacher Activities</h4>
  <div class="teacher-activities">
    <ng-template ngFor let-activity [ngForOf]="dashboardData.teacher_activities">
      <mat-card>
        <mat-card-header>
          <div *ngIf="activity.teacher_avatar" mat-card-avatar [style.--backgroundImage]="activity.teacher_avatar|mediaUrlCss" class="teacher-activity-avatar"></div>
          <div *ngIf="!activity.teacher_avatar" mat-card-avatar class="teacher-activity-avatar empty">activity.name[0]</div>
          <mat-card-subtitle>{{ activity.subjects_taught|join:', ' }}</mat-card-subtitle>
          <mat-card-title>{{ activity.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="activity-data">
            <span>Last Active:</span>
            <span>{{ activity.last_active }}</span>
            <span>Activity Score:</span>
            <span>{{ activity.activity_score }}</span>
            <span>Student Interaction Rating:</span>
            <span>{{ activity.student_interaction_rating }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
  <div class="side-by-side">
    <div class="student-progress">
      <h4 class="overview-section-heading">Student Progress</h4>
      <mat-card>
        <mat-card-content>
          <div class="student-progress-list">
            <p class="progress-heading">Subject</p>
            <p class="progress-heading">Avg. Score Improvement</p>
            <p class="progress-heading">Homework Completion Rate</p>
            <p class="progress-heading">Attendance Rate</p>
            <ng-template ngFor let-sp [ngForOf]="dashboardData.student_progress">
              <p class="subject">{{ sp.subject }}</p>
              <p class="value">{{ sp.average_score_improvement > 0 ? '+' : '' }}{{ sp.average_score_improvement }}%</p>
              <p class="value">{{ sp.homework_completion_rate }}%</p>
              <p class="value">{{ sp.attendance_rate }}%</p>
            </ng-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="resource-management">
      <h4 class="overview-section-heading">Resource Management</h4>
      <mat-card>
        <mat-card-content>
          <canvas baseChart
            type="bar"
            [data]="resourceManagementData"
            [options]="resourceManagementOptions"
          ></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h4 class="overview-section-heading">Active Coaches</h4>
  <mat-chip-listbox>
    <ng-template ngFor let-coach [ngForOf]="dashboardData.coach_details">
      <mat-chip class="no-pointer-events">{{ coach.name }}</mat-chip>
    </ng-template>
  </mat-chip-listbox>
  <h4 class="overview-section-heading">Recent Coach Meetings</h4>
  <div class="teacher-coach-interactions">
    <p class="bb">Last Meeting Date</p>
    <p class="bb">Coach</p>
    <p class="bb">Teacher</p>
    <p class="bb">Meeting Notes</p>
    <ng-template ngFor let-interaction let-isLast="last" [ngForOf]="dashboardData.coach_teacher_interactions">
      <p [ngClass]="{ bb: !isLast }">{{ interaction.last_meeting_date }}</p>
      <p [ngClass]="{ bb: !isLast }">{{ interaction.coach }}</p>
      <p [ngClass]="{ bb: !isLast }">{{ interaction.teacher }}</p>
      <p [ngClass]="{ bb: !isLast }">{{ interaction.meeting_notes }}</p>
    </ng-template>
  </div>
</div>
